.image-gallery {
    padding-top: 42px;
    width: 60vmax;
    height: 60vmin;
    margin: 10vmin auto;
    objcet-position: center center;
    justify-content: center;
    object-fit: contain;
}

.image-gallery-wrapper {
  margin-top: 5rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
