.image-gallery {
    width: 600px;
    height: 400px;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
    objcet-position: center center;
    justify-content: center;
    object-fit: contain;
}

.image-gallery-wrapper {
    width: 600px;
    height: 400px;
    margin: 0 auto;
}
