.image-gallery {
    width: 60vmax;
    max-height: 400px;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
    objcet-position: center center;
    justify-content: center;
    object-fit: contain;
}
